.filter_div {
  margin-top: 2rem;
}
.filter_div select {
  background-color: aliceblue;
  height: 2.2rem;
  width: 11.5%;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  border-color: none;
}

table {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}
thead {
  height: 4rem;
  font-size: 20px;
  background-color: #4255a4;
  color: white;
}
th {
  color: white;
}
td {
  color: black;
  font-weight: 400;
  font-size: 18px;
}
tbody {
  height: 3rem;
  font-size: 16px;
  background-color: #7ca6cb;
  color: white;
}

.pagni_div {
  /* border: 1px solid red; */
  height: 5rem;
  margin-top: 2rem;
}

button {
  height: 2rem;
  width: 6%;
  font-size: 15px;
  background-color: #4255a4;
  color: white;
  border-color: none;
}
